<!DOCTYPE html>
<html>
<head>
    <title>CSV Ratings Conversion</title>
</head>
<body>
    <h1>CSV Ratings Conversion</h1>
    
    <form action="http://oglearns.pythonanywhere.com/convert_ratings" method="post" enctype="multipart/form-data">
        <label for="file">Upload CSV File:</label>
        <input type="file" name="file" accept=".csv" required>
        <br>
        <input required type="text" name="column_name">
        <br>
        <button type="submit">Convert Ratings</button>
    </form>
</body>
</html>
